<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>TicTacToe</name>

  <description>
      Mobile App of TicTacToe Game.
  </description>

  <author href="naimul-islam-siam.github.io" email="hallowjokes4@gmail.com">
      Naimul Islam Siam
  </author>

</widget>